npm-debug.log
npm-debug.log.*
yarn-error.log
node_modules
stats.json
.env

#Intellij
.idea

#Webstorm
*.iml

#Sublime
*.sublime-workspace
*.sublime-project

#Atom
.tern-project

#Build directories
build
dist

#Mac/Unix/Emacs
.DS_Store
*~
*#

#cypress
cypress/screenshots
cypress/videos
